<div class="sub-header">
  <div class="tabs">
    <button (click)="switchTabs('active')">Active</button>
    <button (click)="switchTabs('archive')">Archive</button>
  </div>

  <div>
    <button (click)="createEntity()">Create entity</button>
  </div>

  <div>
    <input class="search" type="text" [(ngModel)]="searchText">
  </div>
</div>

<div class="content">
  <app-item-details 
    *ngFor="let entity of entities | search:['name', searchText]"
    [item]="entity">
  </app-item-details>
</div>