<div class="sub-header">
  <div class="tabs">
    <button (click)="switchTabs('active')">Active</button>
    <button (click)="switchTabs('archive')">Archive</button>
  </div>

  <div>
    <input class="search" type="text" [(ngModel)]="searchText">
  </div>
</div>

<div>
  <label for="name">Name</label>
  <input type="text" name="desc" [(ngModel)]="project.name">
  <label for="desc">Description</label>
  <input type="text" name="desc" [(ngModel)]="project.description">
  <button (click)="createProject()">Create project</button>
</div>

<hr>

<form (ngSubmit)="onSubmit()" #projectForm="ngForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control"
      [value]="project.name" [(ngModel)]="model.name" name="name"
      #name="ngModel" id="name" required>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" 
      [value]="project.description" [(ngModel)]="model.description" name="description"
      #description="ngModel" id="description">
  </div>
  <button type="submit">Create project</button>
</form>

<div class="content">
  <app-item-details
    *ngFor="let project of projects | search:['name', searchText]"
    [item]="project" (selected)="onSelected($event)" (deleteProject)="deleteProject($event)">
  </app-item-details>

  <app-item-details #itemDetails (selected)="onSelected($event)" (deleteProject)="deleteProject($event)"></app-item-details>

  <button #myButton (click)="clickFunc()">Click me</button>
</div>
